<template name="Welcome">
    <h1 class="welcome-header">Welcome Puppet affiliate!!!</h1>

    <p class="welcome-intro">My name is Don Robles, and if you're looking at this website as part of my application to
        the Front End Engineer position I saw on LinkedIn, you're in the right place!</p>

    <p class="welcome-intro">I spent a lot of time on this application, what with building this site and all
        just to show what I'm capable of. It certainly wasn't easy, and I definitely hit a few snags along the way, but
        judging by the job description, info on your site, and my experience with clients thus far, dedication to
        problem solving is the trait you desire most in your employees! And boy, do I love a good problem...</p>

    <p class="welcome-intro">I know it's a cliche you've probably heard a million times, but I truly love solving
        problems. The process of taking a goal, and fulling that goal, puts me in a state of mind that's akin to an
        unhealthy addiction. I crave problems to solve. I desire exhausting myself of solutions. I thrive in situations
        where uncertainty is the norm, and compelling results are demanded of the highest quality.</p>

    <p class="welcome-intro">Not to get too philosophical, but my view is that anything I do, anything I create, is an
        extension of myself. As everything I do is who I am, I take great pride in making sure anything anybody gets
        from me, whether it's a hello, a line of code, or a gesture, MUST carry my signature level of dedication to
        quality across all aspects of my life. That's why when I saw this position, the idea of making a site purely to
        showcase my skills was both a challenge, and another chance to validate my conviction to the views I hold.</p>

    <p class="welcome-intro">But enough about that, you didn't come here to hear me ramble, you came to see what I can
        do. Click the button below to the enter the site, and we'll go from there.</p>

    <button class="enter-site"><a href="/start">Enter Site</a></button>
</template>
